#Linear Regression

In [ ]:
#시험성적 예측
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn import metrics

data = pd.read_csv('score.csv')
data.head()

   게임시간  시험성적
0     5    80
1     7    75
2    13    30
3     1    95
4     2   100

In [ ]:
#종속변수와 독립변수 분리

X = data.drop('시험성적', axis = 1, inplace=False)
y = data['시험성적']

In [ ]:
model = LinearRegression() #모델 설정

In [ ]:
import numpy as np

model.fit(X, y)

y_pred = model.predict(X)

#예측값과 실제 데이터 간 오차 계산
rmse = (metrics.mean_squared_error(y_pred, y))
print('RMSE : ', rmse)

RMSE :  48.06875166415195

In [ ]:
from sklearn.model_selection import train_test_split

#테스트 사이즈 30 트레이닝 70 총 12차원 데이터
#randomstate = 검증을 위해 필요
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)
print(X_train.shape)
print(X_test.shape)

(13, 1)
(6, 1)

In [ ]:
model.fit(X_train, y_train)

y_test_pred = model.predict(X_test)
y_train_pred = model.predict(X_train)

rmse_test = np.sqrt(metrics.mean_squared_error(y_test_pred, y_test))
rmse_train = np.sqrt(metrics.mean_squared_error(y_train_pred, y_train))

In [ ]:
print('RMSE test: ', rmse_test)
print('RMSE train:', rmse_train)

RMSE test:  9.29839013870668
RMSE train: 5.91782984371565

In [ ]:
coef = pd.Series(data = model.coef_, index = X.columns)
print(coef) # 회귀계수 알아보기 : 게임시간 1시간 늘어갈수록 평균적으로 시험성적 -4.5점

게임시간   -4.5
dtype: float64

#Bikeshare 예제 Ridge & Lasso

In [ ]:
import pandas as pd
import numpy as np

import pandas as pd

data = pd.read_csv('bikeshare_pre.csv')
data.head()

,Unnamed: 0,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,year_2012,...,hour_17.1,hour_18.1,hour_19.1,hour_20.1,hour_21.1,hour_22.1,hour_23.1,season_2.1,season_3.1,season_4.1
0,0,0,0,1,9.84,14.395,81,0.0,16,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,9.02,13.635,80,0.0,40,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,1,9.02,13.635,80,0.0,32,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,1,9.84,14.395,75,0.0,13,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,1,9.84,14.395,75,0.0,1,0,...,0,0,0,0,0,0,0,0,0,0

Regularization을 고려하지 않은 LinearRegression 의 경우

---

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np

In [ ]:
A = data.drop('count', axis=1, inplace=False)
b = data['count']

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(A, b)

b_pred = model.predict(A)
rmse = np.sqrt(metrics.mean_squared_error(b_pred, b))
print('RMSE : ', rmse)

RMSE :  100.38718250258322

In [ ]:
#train, test 로 나눠주세요!
from sklearn.model_selection import train_test_split

A_train, A_test, b_train, b_test = train_test_split(A, b, test_size=0.3, random_state=123)
print(A_train.shape)
print(A_test.shape)

(7620, 96)
(3266, 96)

In [ ]:
model.fit(A_train, b_train)

b_test_pred = model.predict(A_test)
b_train_pred = model.predict(A_train)

rmse_test = np.sqrt(metrics.mean_squared_error(b_test_pred, b_test))
rmse_train = np.sqrt(metrics.mean_squared_error(b_train_pred, b_train))

In [ ]:
print('RMSE test: ', rmse_test)
print('RMSE train:', rmse_train)

RMSE test:  102.2337884289395
RMSE train: 99.74306813842324

#Ridge & Lasso

과적합

선형은 별로 설명을 못함. 곡선으로 하면 좋겠지?
근데 그러면 train에만 너무 적합해서 test를 설명을 못하는 문제가 생김. =과적합

Ridge : 회귀계수를 작게 만든다
Lasso : 회귀계수를 0으로 보내서 삭제한다

In [ ]:
from sklearn.linear_model import Ridge, Lasso
from sklearn.metrics import mean_squared_error

In [ ]:
import pandas as pd

df = pd.read_csv('bikeshare_pre.csv')

In [ ]:
#Ridge 차원이 너무 높아져서 성능이 안좋아지는 것을 방지하기 위해 모든 계수의 값이 줄어드는 효과 (정규화)
ridge = Ridge(alpha=0.05) # 알파=패널티. 패널티를 얼마나 주느냐 # 0.01~100 해보기

In [ ]:
ridge.fit(A_train, b_train)

btrain_result = ridge.predict(A_train)
btest_result  = ridge.predict(A_test)

In [ ]:
rmse_train = np.sqrt(mean_squared_error(b_train, btrain_result))
rmse_test = np.sqrt(mean_squared_error(b_test, btest_result))

print('Train 데이터의 RMSE 값 {}'.format(rmse_train))
print('Test  데이터의 RMSE 값 {}'.format(rmse_test))

Train 데이터의 RMSE 값 99.74308219991036
Test  데이터의 RMSE 값 102.23355785698743

In [ ]:
# alpha = 0.01 : Train 데이터의 RMSE 값 99.74306870267922 / Test  데이터의 RMSE 값 102.23373986635421
# alpha = 0.1 : Train 데이터의 RMSE 값 99.74312416127373 / Test  데이터의 RMSE 값 102.23335766497887
# alpha = 10 : Train 데이터의 RMSE 값 100.03969578255621 / Test  데이터의 RMSE 값 102.5048499434297
# alpha = 100 : Train 데이터의 RMSE 값 103.34255814244958 / Test  데이터의 RMSE 값 105.52227050549864

In [ ]:
#Lasso
lasso = Lasso(alpha=0.005) # 0.05~50

In [ ]:
# 위 Ridge 코드를 참고하여 Lasso 모델 학습
lasso.fit(A_train, b_train)

btrain_result = lasso.predict(A_train)
btest_result  = lasso.predict(A_test)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.785e+07, tolerance: 2.511e+04
  model = cd_fast.enet_coordinate_descent(

In [ ]:
rmse_train = np.sqrt(mean_squared_error(b_train, btrain_result))
rmse_test = np.sqrt(mean_squared_error(b_test, btest_result))

print('Train 데이터의 RMSE 값 {}'.format(rmse_train))
print('Test  데이터의 RMSE 값 {}'.format(rmse_test))

Train 데이터의 RMSE 값 99.74442592157736
Test  데이터의 RMSE 값 102.2325824963244

In [ ]:
# alpha = 0.05 : Train 데이터의 RMSE 값 99.8152403386122 / Test  데이터의 RMSE 값 102.30311747269815
# alpha = 0.5 : Train 데이터의 RMSE 값 102.46972981672337 / Test  데이터의 RMSE 값 104.95478451588612
# alpha = 5 : Train 데이터의 RMSE 값 134.18693019192634 / Test  데이터의 RMSE 값 135.14816266671824
# alpha = 50 : Train 데이터의 RMSE 값 150.7536313041267 / Test  데이터의 RMSE 값 150.3534830084671

# 최적의 alpha 값: 0.05

**알파값은 낮을수록 좋았다.**

릿지와 라쏘를 비교했을때, 

릿지는 어느정도 상관성을 가지는 변수들에 대해 pulling 효과가 있어서 변수들에 적절한 가중치 배분을 한다. 그래서 변수 간의 상관관계가 높은 상황에서 좋은 예측 성능을 보인다.

반면에 라쏘는 파라미터 크기에 관계없이 같은 수준의 regularization을 적용하기때문에 변수 간의 상관관계가 높은 상황에서 릿지에 비해 상대적으로 예측성능이 떨어진다